<div
  class="wrapper d-flex"
  [ngClass]="{
    rtl: rtl,
    ltr: !rtl,
    'flex-column-reverse': labelPos == 'fix-top',
    'align-items-center': labelPos == 'fix-side',
    'align-items-end': labelPos == 'fix-top' && rtl,
    'flex-row': labelPos == 'fix-side' && rtl,
    'flex-row-reverse': labelPos == 'fix-side' && !rtl
  }"
>
  <div
    class="flex-grow-1"
    [ngClass]="{
      'autocomplete-dd': dropdown,
      'w-100': labelPos == 'fix-top',
      'p-float-label': labelPos == 'float',
      'p-input-icon-left': icon && iconPos == 'left',
      'p-input-icon-right': icon && iconPos == 'right',
      'p-inputtext-sm': inputSize == 'sm',
      'p-inputtext-lg': inputSize == 'lg',
      'p-input-filled': filled || value
    }"
  >
    <i *ngIf="icon" [ngClass]="icon"></i>
    <p-autoComplete
      [(ngModel)]="value"
      [ngAddon]="addon"
      [suggestions]="suggestions"
      [field]="field"
      [dropdown]="dropdown"
      [multiple]="multiple"
      [minLength]="minlength"
      [completeOnFocus]="completeOnFocus"
      [inputId]="inputId"
      [placeholder]="placeholder"
      [readonly]="readonly"
      [disabled]="disabled"
      [maxlength]="maxlength"
      [size]="size"
      [appendTo]="appendTo"
      [dataKey]="dataKey"
      [autoHighlight]="autoHighlight"
      [emptyMessage]="emptyMessage"
      [immutable]="immutable"
      [autofocus]="autofocus"
      [forceSelection]="forceSelection"
      [dropdownMode]="dropdownMode"
      [unique]="unique"
      [ngClass]="{
        'ng-invalid ng-dirty': ngControl ? isInvalid(ngControl.control) : false
      }"
      [baseZIndex]="200000"
      [scrollHeight]="scrollHeight"
      (completeMethod)="_completeMethod($event)"
      (onFocus)="emitter('onFocus', $event)"
      (onBlur)="_onBlur()"
      (onKeyUp)="_onKeyUp($event)"
      (onSelect)="_onSelect($event)"
      (onUnselect)="_onUnselect($event)"
      (onDropdownClick)="_onDropdownClick($event)"
      (onClear)="_onClear($event)"
      (onShow)="emitter('onShow', $event)"
      (onHide)="emitter('onHide', $event)"
      (onBeforeBtnClick)="emitter('onBeforeBtnClick', $event)"
      (onAfterBtnClick)="emitter('onAfterBtnClick', $event)"
    ></p-autoComplete>

    <label *ngIf="label && labelPos == 'float'" [attr.for]="inputId">{{
      label
    }}</label>
    <ng-container *ngFor="let error of errors | keyvalue">
      <small
        *ngIf="showError(error.key)"
        class="error p-invalid p-error"
        [class.mt-4]="hint"
      >
        {{ error.value }}
      </small>
    </ng-container>
  </div>
  <label
    *ngIf="label && labelPos != 'float'"
    [style.width.px]="labelWidth"
    [ngClass]="{
      'mb-0': labelPos == 'fix-side',
      'ml-4': rtl,
      'mr-4': !rtl,
      'text-muted': disabled
    }"
    [attr.for]="inputId"
    >{{ label }}</label
  >
</div>

<small *ngIf="hint">{{ hint }}</small>
