<div
  class="wrapper d-flex"
  [ngClass]="{
    rtl: rtl,
    ltr: !rtl,
    'flex-column-reverse': labelPos == 'fix-top',
    'align-items-center': labelPos == 'fix-side',
    'align-items-end': labelPos == 'fix-top' && rtl,
    'flex-row': labelPos == 'fix-side' && rtl,
    'flex-row-reverse': labelPos == 'fix-side' && !rtl
  }"
>
  <div
    class="flex-grow-1"
    [ngClass]="{
      'w-100': labelPos == 'fix-top',
      'p-float-label': labelPos == 'float',
      'p-input-icon-left': icon && iconPos == 'left',
      'p-input-icon-right': icon && iconPos == 'right',
      'p-inputtext-sm': inputSize == 'sm',
      'p-inputtext-lg': inputSize == 'lg',
      'p-input-filled': filled || value
    }"
  >
    <i *ngIf="icon" [ngClass]="icon"></i>

    <p-dropdown
      [(ngModel)]="value"
      [ngAddon]="addon"
      [inputId]="inputId"
      [options]="options"
      [optionLabel]="optionLabel"
      [optionValue]="optionValue"
      [optionDisabled]="optionDisabled"
      [optionGroupLabel]="optionGroupLabel"
      [optionGroupChildren]="optionGroupChildren"
      [filter]="filter"
      [filterValue]="filterValue"
      [filterBy]="filterBy"
      [filterMatchMode]="filterMatchMode"
      [filterPlaceholder]="filterPlaceholder"
      [disabled]="disabled"
      [readonly]="readonly"
      [editable]="editable"
      [maxlength]="maxlength"
      [appendTo]="appendTo"
      [placeholder]="placeholder"
      [dataKey]="dataKey"
      [autofocus]="autofocus"
      [autofocusFilter]="autofocusFilter"
      [resetFilterOnHide]="resetFilterOnHide"
      [emptyFilterMessage]="emptyFilterMessage"
      [autoDisplayFirst]="autoDisplayFirst"
      [ngClass]="{
        'ng-invalid ng-dirty': ngControl ? isInvalid(ngControl.control) : false
      }"
      [group]="group"
      [showClear]="showClear"
      [tooltip]="tooltip"
      [tooltipPosition]="tooltipPosition"
      [baseZIndex]="200000"
      [scrollHeight]="scrollHeight"
      (onClick)="emitter('onClick',$event)"
      (onChange)="_onChange($event)"
      (onFocus)="emitter('onFocus',$event)"
      (onBlur)="_onBlur()"
      (onShow)="emitter('onShow',$event)"
      (onHide)="emitter('onHide',$event)"
      (onBeforeBtnClick)="emitter('onBeforeBtnClick', $event)"
      (onAfterBtnClick)="emitter('onAfterBtnClick', $event)"
      ></p-dropdown>
      <label *ngIf="label && labelPos == 'float'" [attr.for]="inputId">{{
      label
    }}</label>
    <ng-container *ngFor="let error of errors | keyvalue">
      <small
        *ngIf="showError(error.key)"
        class="error p-invalid p-error"
        [class.mt-4]="hint"
      >
        {{ error.value }}
      </small>
    </ng-container>
  </div>
  <label
    *ngIf="label && labelPos != 'float'"
    [style.width.px]="labelWidth"
    [ngClass]="{
      'mb-0': labelPos == 'fix-side',
      'ml-4': rtl,
      'mr-4': !rtl,
      'text-muted': disabled
    }"
    [attr.for]="inputId"
    >{{ label }}</label
  >
</div>

<small *ngIf="hint">{{ hint }}</small>
