<div class="wrapper">
  <div class="text-center">
    <div
      class="body"
      #body
      (mouseover)="onMouseOver(mouth,leftEye,rightEye,body)"
      (mouseleave)="onMouseLeave(mouth,leftEye,rightEye,body)"
    >
      <div class="left-eye" #leftEye>
        <div class="left-eye-color"></div>
      </div>
      <div class="right-eye" #rightEye>
        <div class="right-eye-color"></div>
      </div>
      <div class="mouth" #mouth></div>
    </div>

    <!-- <h1>
      <span>W</span>
      <span>E</span>
      <span>L</span>
      <span>C</span>
      <span>O</span>
      <span>M</span>
      <span>E</span>
      <span>.</span>
      <span>.</span>
      <span>.</span>
    </h1> -->
  </div>
  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
