<div
  class="wrapper d-flex"
  [ngClass]="{
    rtl: rtl,
    ltr: !rtl,
    'flex-column-reverse': labelPos == 'fix-top',
    'align-items-center': labelPos == 'fix-side',
    'align-items-end': labelPos == 'fix-top' && rtl,
    'flex-row': labelPos == 'fix-side' && rtl,
    'flex-row-reverse': labelPos == 'fix-side' && !rtl
  }"
>
  <div
    class="flex-grow-1"
    [ngClass]="{
      'w-100': labelPos == 'fix-top',
      'p-float-label': labelPos == 'float',
      'p-input-icon-left': icon && iconPos == 'left',
      'p-input-icon-right': icon && iconPos == 'right',
      'p-inputtext-sm': inputSize == 'sm',
      'p-inputtext-lg': inputSize == 'lg',
      'p-input-filled': filled || value
    }"
  >
    <i *ngIf="icon" [ngClass]="icon"></i>
    <input
      type="password"
      pPassword
      [(ngModel)]="value"
      [ngAddon]="addon"
      [readonly]="readonly"
      [disabled]="disabled"
      [attr.maxlength]="maxlength"
      [attr.id]="inputId"
      [ngClass]="{
        'ng-invalid ng-dirty': ngControl ? isInvalid(ngControl.control) : false
      }"
      [attr.placeholder]="placeholder"
      (input)="_onInput($event)"
      (change)="_onChange($event)"
      (keydown)="_onKeydown($event)"
      (keyup)="_onKeyup($event)"
      (blur)="_onBlur()"
      (focus)="emitter('onFocus', $event)"
      (onBeforeBtnClick)="emitter('onBeforeBtnClick', $event)"
      (onAfterBtnClick)="emitter('onAfterBtnClick', $event)"
    />

    <label *ngIf="label && labelPos == 'float'" [attr.for]="inputId">{{
      label
    }}</label>
    <ng-container *ngFor="let error of errors | keyvalue">
      <small
        *ngIf="showError(error.key)"
        class="error p-invalid p-error"
        [class.mt-4]="hint"
      >
        {{ error.value }}
      </small>
    </ng-container>
  </div>
  <label
    *ngIf="label && labelPos != 'float'"
    [style.width.px]="labelWidth"
    [ngClass]="{
      'mb-0': labelPos == 'fix-side',
      'ml-4': rtl,
      'mr-4': !rtl,
      'text-muted': disabled
    }"
    [attr.for]="inputId"
    >{{ label }}</label
  >
</div>

<small *ngIf="hint">{{ hint }}</small>
