<div
  class="wrapper d-flex"
  [ngClass]="{
    rtl: rtl,
    ltr: !rtl,
    'flex-column-reverse': labelPos == 'fix-top',
    'align-items-center': labelPos == 'fix-side',
    'align-items-end': labelPos == 'fix-top' && rtl,
    'flex-row': labelPos == 'fix-side' && rtl,
    'flex-row-reverse': labelPos == 'fix-side' && !rtl
  }"
>
  <div
    class="flex-grow-1"
    [ngClass]="{
      'w-100': labelPos == 'fix-top'
    }"
  >
    <p-rating
      [(ngModel)]="value"
      [stars]="stars"
      [cancel]="cancel"
      [disabled]="disabled"
      [readonly]="readonly"
      [attr.id]="inputId"
      [iconOnClass]="iconOnClass"
      [iconOffClass]="iconOffClass"
      [iconCancelClass]="iconCancelClass"
      (onRate)="_onRate($event)"
      (onCancel)="_onCancel($event)"
    ></p-rating>
    <ng-container *ngFor="let error of errors | keyvalue">
      <small *ngIf="showError(error.key)" class="error p-invalid p-error"
        [class.mt-4]="hint">
        {{ error.value }}
      </small>
    </ng-container>
  </div>
  <label
    *ngIf="label && labelPos != 'float'"
    [style.width.px]="labelWidth"
    [ngClass]="{
      'mb-0': labelPos == 'fix-side',
      'ml-4': rtl,
      'mr-4': !rtl,
      'text-muted': disabled
    }"
    [attr.for]="inputId"
    >{{ label }}</label
  >
</div>

<small *ngIf="hint">{{ hint }}</small>
